<section class="p-alumno-screen">
    <div class="wrapper">
        <div class="header">
            <div class="icon-back" (click)="regresar()">
                <mat-icon class="icon-back">arrow_back</mat-icon>
            </div>
            <div class="buttons">
                <button class="editar" mat-flat-button (click)="editarAlumno()">Editar</button>
                <button class="eliminar" mat-flat-button color="warn" (click)="eliminar(alumno.matricula)">Eliminar</button>
            </div>
        </div>
        <div class="body">
            <div class="nombre">
                <h1 class="txt-nombre">{{alumno.nombre}} {{alumno.ap_paterno}} {{alumno.ap_materno}}</h1>
                <h2 class="txt-matricula">{{alumno.matricula}}</h2>
            </div>
            <div class="clases">
                <h2 class="txt-clases">Clases que toma</h2>
            </div>
        </div>
    </div>
</section>