.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #192734;
}

.body-list-alumnos{
    width: 100%;
    height: 90vh;
    background-color: #192734;
    overflow-y: auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem; /* Adjust spacing between cards as needed */
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

.card{
    height: 125px;
    background-color: #192734;
    border: 3px solid #15202B;
    opacity: 1;
    cursor: pointer;
    transition: 0.4s ease;
}

.card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-body{
    text-align: left;
    font-family: Nexa;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    text-align: center;
    opacity: 1;
}

.text-header{
    text-align: left;
    font-family: Nexa-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body-lista-vacia{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}

.txt-lista-vacia{
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card:hover{
    box-shadow: 0px 15px 9px -4px #15202B;
    transform: scale(1.05, 1.05);
    pointer-events: auto;
}