<section class="docentes-screen">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-leftside-bar (cerrar)="drawer.toggle()"></app-leftside-bar>
            </mat-drawer>
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>
            <div class="body-docentes">
                <div class="title">
                    <span class="title-text">Docentes</span>
                </div>
                <div class="cards">
                    <div class="card card-post" (click)="goPostDocente()">
                        <div class="card-body">
                            <h3 class="card-title">Dar de alta</h3>
                            <span class="card-text">Dé de alta a un docente en el sistema</span>
                        </div>
                    </div>
                    <div class="card card-get" (click)="goListDocente()">
                        <div class="card-body">
                            <h3 class="card-title">Ver</h3>
                            <span class="card-text">Liste a los docentes que existen en el sistema</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</section>