<div class="wrapper">
    <div class="header-sidebar">
        <div class="icon-close" (click)="cerrar_drawer()">
            <mat-icon class="img-close">clear</mat-icon>
        </div>
    </div>
    <div class="body-sidebar">
        <div class="links" (click)="goAlumnos()">
            <div class="line-color">
                <div class="vertical-line" style="height: 111px;"></div>
            </div>
            <div class="title-link">
                <span>Alumnos</span>
            </div>
            <div class="arrow-icon">
                <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
            </div>
        </div>

        <div class="links" (click)="goMaterias()">
            <div class="line-color">
                <div class="vertical-line" style="height: 111px;"></div>
            </div>
            <div class="title-link">
                <span>Materias</span>
            </div>
            <div class="arrow-icon">
                <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
            </div>
        </div>

        <div class="links" (click)="goDocentes()">
            <div class="line-color">
                <div class="vertical-line" style="height: 111px;"></div>
            </div>
            <div class="title-link">
                <span>Docentes</span>
            </div>
            <div class="arrow-icon">
                <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
            </div>
        </div>

    </div>
</div>